/* xs */
@media (max-width:576px) {
    .toggle-menu {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 999;
    }

    .main {
        width: calc(100% - 1px);
        margin-left: 0;
    }

    .menu-wrapper {
        right: 100%;

    }
}

/* sm */
@media (min-width:576px) {
    .toggle-menu {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 999;
    }

    .main {
        width: calc(100% - 1px);
        margin-left: 0;
    }

    .menu-wrapper {
        right: 100%;

    }
}

/* md */
@media (min-width:768px) {
    .toggle-menu {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 999;
    }

    .main {
        width: calc(100% - 1px);
        margin-left: 0;
    }

    .menu-wrapper {
        right: 100%;

    }
}

/* lg */
@media (min-width:992px) {
    .toggle-menu {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 999;
    }

    .main {
        width: calc(100% - 1px);
        margin-left: 0;
    }

    .menu-wrapper {
        right: 100%;

    }

}

/* xl */
@media (min-width:1200px) {
    .toggle-menu {
        display: none;
    }

    .main {
        width: calc(100% - 300px);
        margin-left: 300px;
        ;
    }
    .menu-wrapper {
        left: 0;

    }
    /* .sidebar {
        z-index: -1;
        position: relative;
    } */
    .footer {
        width: 300px;
        z-index: 99;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}

/* xxl */
@media (min-width:1400px) {
    .toggle-menu {
        display: none;
    }

    .main {
        width: calc(100% - 300px);
        margin-left: 300px;
        ;
    }

    .menu-wrapper {
        left: 0;

    }

}